

	<!-- 	top nav -->
	<nav class="navbar navbar-light taPage-navcolor fixed-top">
  		<a href="../Page/Page-List.html"><i class="fas fa-chevron-left ta-font-black"></i></a>
  		<div class="ta-width2">
  			<a routerLink="" class="navbar-brand float-left"><b class="ta-font-black">Widgets</b></a>
  		</div>
  		<a class="ta-font-black" routerLink="/user/:uid/website/:wid/page/:pid/widget/new"><i class="fas fa-plus"></i></a>
	</nav>
	<!-- WIDGETS -->
	<div class="container-fluid">
		<div class="ta-absolute-right">
			<a routerLink="/WidgetHeadingComponent"><i class="fas fa-cog ta-font-black"></i></a>
			<a routerLink=""><i class="fas fa-bars"></i></a>
		</div>
		<h1>LARGE HEADING</h1>
	</div>

	<div class="container-fluid">
		<div class="ta-absolute-right">
			<a routerLink="/WidgetHeadingComponent"><i class="fas fa-cog ta-font-black"></i></a>
			<a href=""><i class="fas fa-bars"></i></a>
		</div>
		<h5>Subtitle Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmo tempor incididunt ut labore et </h5>
	</div>
	<div class="container-fluid">
		<div class="ta-absolute-right">
			<a routerLink="/WidgetImageComponent"><i class="fas fa-cog ta-font-black"></i></a>
			<a routerLink=""><i class="fas fa-bars"></i></a>
			<a routerLink=""></a>
		</div>
		<img width="100%" src="https://images.unsplash.com/photo-1476514525535-07fb3b4ae5f1?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=468a8c18f5d811cf03c654b653b5089e&w=1000&q=80">
	</div>
<div class="container-fluid">
	<div class="ta-absolute-right">
		<a routerLink="/WidgetHeadingComponent"><i class="fas fa-cog ta-font-black"></i></a>
		<a routerLink=""><i class="fas fa-bars"></i></a>
	</div>
	<h6>Video heading</h6>
</div>
<!-- youtube -->
<div class="container-fluid">
	<div class="ta-absolute-right ta-front">
		<a routerLink="/WidgetYouTubeComponent"><i class="fas fa-cog ta-font-black"></i></a>
		<a href=""><i class="fas fa-bars"></i></a>
	</div>
	<div class="embed-responsive embed-responsive-16by9">
		<iframe class="embed-responsive-item"
		src="https://www.youtube.com/embed/vFKQ7GflRkk" allow="autoplay; encrypted-media" allowfullscreen></iframe>
	</div>
</div>
<div class="container-fluid">
	<div class="ta-absolute-right">
		<a routerLink="/WidgetHeading"><i class="fas fa-cog ta-font-black"></i></a>
		<a routerLink=""><i class="fas fa-bars"></i></a>
	</div>
	<h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
.</h5>
</div>
<!-- footer -->
<nav class="navbar navbar-light taPage-navcolor fixed-bottom">
	<a routerLink=""><button><b>Publish</b></button></a>
	<div class="ta-width2">
	<a routerLink=""><button class="float-left"><b>Preview</b></button></a>
	
		<div class="ta-width4"><a class="float-right" routerLink="/Profile">
	<i class="fas fa-user ta-font-black"></i>
</a></div>

