<div class="container-fluid">
		<form>
			<div class="marquee">
				<h1>Login</h1>
			</div>
				<div class="form-group">
					<input type="text" name="Username" placeholder="Username" class="form-control">
				</div>
				<div class="form-group">
					<input type="Password" name="Password" placeholder="Password" class="form-control">
				</div>
			
	<!-- Login & Register Buttons -->
				<a class="form-control btn btn-outline-primary btn-block" routerLink="/user/:uid">Login</a>
				<a class="form-control btn btn-outline-success btn-block" routerLink="/register">Register</a>
		</form>
</div>
	