<!-- 	top nav -->
<nav class="navbar navbar-light taPage-navcolor fixed-top">
  <a routerLink="user/:uid/website/:wid/page"><i class="fas fa-chevron-left ta-font-black"></i></a>
  <div class="ta-width2">
  <a routerLink="user/:uid/website/:wid/page/new" class="navbar-brand float-left"><b class="ta-font-black">Page New</b></a>
  </div>
  <a class="ta-font-black" routerLink="user/:uid/website/:wid/page"><i class="fas fa-check"></i></a>

</nav>
<form>
<div class="container-fluid">
  <div class=form-group>
  <LABEL class="font-weight-bold">Name</LABEL>
 
    <input type="text" name="Name" 
   class="form-control" placeholder="Name">

  </div>
  <div class=form-group>
  <LABEL class="font-weight-bold">Title</LABEL>

    <input type="text" name="Title" 
   class="form-control" placeholder="Title">
  </div>
<!-- bottom nav -->

<nav class="navbar navbar-light taPage-navcolor fixed-bottom">
		<div class="ta-width"><a class="float-right" href="../User/Profile.html">
	   <i class="fas fa-user ta-font-black"></i></a>
    </div>


	</div>