
<form>
<div class="container-fluid">
  <div class=form-group>
  <LABEL class="font-weight-bold">Name</LABEL>
  </div>

  <div>
    <input type="text" name="Name" 
   class="form-control">
  </div>

  <div class=form-group>
  <LABEL class="font-weight-bold">Title</LABEL>
  </div>

  <div>
    <input type="text" name="Title" 
   class="form-control">
  </div>
  <br>
  	<a class="btn btn-outline-danger btn-block" routerLink="/user/:uid/website/:wid/page">Delete</a>
<!-- bottom nav -->

<nav class="navbar navbar-light taPage-navcolor fixed-bottom">
		<div class="ta-width"><a class="float-right" routerLink="/user/:uid">
	<i class="fas fa-user ta-font-black"></i>
</a></div>
