

	<!-- 	top nav -->
<nav class="navbar navbar-light taPage-navcolor fixed-top">
  <a routerLink="user/:uid/website"><i class="fas fa-chevron-left ta-font-black"></i></a>
  <div class="ta-width2">
  <a routerLink="user/:uid/website/:wid/page/:pid/widget/new" class="navbar-brand float-left"><b class="ta-font-black">Choose Widgets</b></a>
  </div>


</nav>
<div class='container-fluid'>

	<ul class="list-group ">
		<li class="list-group-item">
			<a routerLink="Widget-Heading.html">Header</a>
		<li class="list-group-item">
			<a routerLink="">Label</a>
		</li>
		<li class="list-group-item">
			<a routerLink="Widget-Heading.html">HTML</a>
		</li>
		<li class="list-group-item">
			<a routerLink="#">Text Input</a>
		</li>
		<li class="list-group-item">
			<a routerLink="">Link</a>
		</li>
		<li class="list-group-item">
			<a routerLink="">Button</a>
		</li>
		<li class="list-group-item">
			<a routerLink="Widget-Image">Image</a>
		</li>
		<li class="list-group-item">
			<a routerLink="Widget-YouTube.html">YouTube</a>
		</li>
		<li class="list-group-item">
			<a routerLink="">Data Table</a>
		</li>
		<li class="list-group-item">
			<a routerLink="">Repeater</a>
		</li>
	</ul>
</div>
<nav class="navbar navbar-light taPage-navcolor fixed-bottom">
		<div class="ta-width4">
			<a class="float-right" routerLink="user/:uid">
	<i class="fas fa-user ta-font-black"></i>
</a></div>
</nav>
